<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hziee.smvc.mapper.FriendMapper" >
  <resultMap id="BaseResultMap" type="hziee.smvc.model.Friend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="friend_id" property="friendId" jdbcType="INTEGER" />
    <result column="forum_id" property="forumId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_friend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hziee.smvc.model.Friend" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_friend (user_id, friend_id, forum_id, 
      start_time, add_time)
    values (#{userId,jdbcType=INTEGER}, #{friendId,jdbcType=INTEGER}, #{forumId,jdbcType=INTEGER}, 
      #{startTime,jdbcType=INTEGER}, #{addTime,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="hziee.smvc.model.Friend" >
    update s_friend
    set user_id = #{userId,jdbcType=INTEGER},
      friend_id = #{friendId,jdbcType=INTEGER},
      forum_id = #{forumId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, friend_id, forum_id, start_time, add_time
    from s_friend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, friend_id, forum_id, start_time, add_time
    from s_friend
  </select>
</mapper>