<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hziee.smvc.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="hziee.smvc.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nuser_name" property="nuserName" jdbcType="VARCHAR" />
    <result column="password_hash" property="passwordHash" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="authority" property="authority" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hziee.smvc.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_user (nuser_name, password_hash, real_name,
      email, authority, add_time
      )
    values (#{nuserName,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{authority,jdbcType=INTEGER}, #{addTime,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="hziee.smvc.model.User" >
    update s_user
    set nuser_name = #{nuserName,jdbcType=VARCHAR},
      password_hash = #{passwordHash,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, nuser_name, password_hash, real_name, email, authority, add_time
    from s_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, nuser_name, password_hash, real_name, email, authority, add_time
    from s_user
  </select>
</mapper>